<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
</div>

<div id="getting-started">
    <p>To discover content in the collections, you can enter your search string across fields, or use the clickable values on the left sidebar.</p>
</div>
